/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#ensimmäinen {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: burlywood;
	padding: 30px;
}

#toinen {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: #eee;
	padding: 30px;
}

#kolmas {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: burlywood;
	padding: 30px;
}

#navbar {
	font-size: 20px;
	color: #eee;
}

.navbar-header {
	letter-spacing: 3px;
}

.navbar-inverse .navbar-brand {
    color: gainsboro;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}

.navbar-inverse .navbar-nav > li > a {
	color: gainsboro;
	font-family: 'Lato', sans-serif;
}

.jumbotron {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
	margin-bottom: 0px;
	padding: 20px;
	background-image: url(../images/taustakuva2.jpg);
}

.jumbotron h1 {
	font-size: 45px;
	font-weight: 700;
	color: #eee;
	text-shadow: 1px 6px 20px black;
}

.jumbotron h2 {
	color: #eee;
	font-size: 35px;
	font-weight: 700;
	text-shadow: 1px 6px 20px black;
}

.carousel {
	text-align: center;
	color: #eee;
}

.carousel img {
	height: 100px;
	width: 100px;
}

.carousel-control {
	width: 0%;
}

.modal-dialog {
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -50px;
}

.ensimmäinen .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
	box-shadow: 0px 2px 5px #999;
	background-color: #eee;
}

.ensimmäinen h1 {
	font-size: 25px;
}


.ensimmäinen img {
	height: 150px;
	width: 150px;
	margin-top: 10px;
}

.toinen .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
	box-shadow: 0px 2px 5px #999;
	background-color: burlywood;
}

.toinen h1 {
	font-size: 25px;
}

.toinen img {
	height: 150px;
	width: 150px;
	margin-top: 10px;
}

.kolmas .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
	box-shadow: 0px 2px 5px #999;
	background-color: #eee;
}

.kolmas h1 {
	font-size: 25px;
}

.kolmas img {
	height: 150px;
	width: 150px;
	margin-top: 10px;
}

#footer {
	background-color: #eee;
}

.footer h1 {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

.footer p {
	font-size: 30px;
	font-weight: 700;
}

#back-to-top {
	position: fixed; 
	bottom: 20px; 
	right: 20px;
}

/* Etusivu */

#share-buttons img {
	width: 45px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
	vertical-align: top;
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {

	.jumbotron h1 {
		font-size: 35px;
	}

	.jumbotron h2 {
		font-size: 30px;
	}

	.ensimmäinen img {
		height: 100px;
		width: 100px;
	}

	.toinen img {
		height: 100px;
		width: 100px;
	}

	.kolmas img {
		height: 100px;
		width: 100px;
	}

	.carousel img {
		height: 80px;
		width: 80px;
	}

	.carousel h2 {
		font-size: 25px;
	}
}