/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#ensimm채inen {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: burlywood;
	padding: 30px;
}

#toinen {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: #eee;
	padding: 30px;
}

#kolmas {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: center;
	background-color: burlywood;
	padding: 30px;
}

.navbar-header {
	letter-spacing: 3px;
}

.navbar-inverse .navbar-brand {
    color: gainsboro;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}

.jumbotron {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
	margin-bottom: 0px;
	padding: 20px;
	background-image: url(../images/taustakuva2.jpg);
}

.jumbotron h1 {
	font-size: 45px;
	font-weight: 700;
	color: black;
}

.jumbotron h2 {
	color: black;
	font-size: 35px;
	font-weight: 700;
}

.suositukset {
	text-align: center;
}

.suositukset h1 {
	color: black;
}

.suositukset h2 {
	color: black;
	background-color: burlywood;
}

.carousel {
	text-align: center;
}

.modal-dialog {
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -50px;
}

.ensimm채inen .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
}

.ensimm채inen h1 {
	font-size: 25px;
}


.ensimm채inen img {
	height: 150px;
	width: 150px;
}

.toinen .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
}

.toinen h1 {
	font-size: 25px;
}

.toinen img {
	height: 150px;
	width: 150px;
}

.kolmas .row .col-md-3 {
	border: 3px solid;
	border-radius: 15px;
}

.kolmas h1 {
	font-size: 25px;
}

.kolmas img {
	height: 150px;
	width: 150px;
}

#footer {
	background-color: #eee;
}

.footer h1 {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

.footer p {
	font-size: 30px;
	font-weight: 700;
}

/* Etusivu */

#share-buttons img {
	width: 45px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
	vertical-align: top;
}