/*

Värit: 
#0027ff
#0091d5

*/

body {
	padding-top: 50px;
	background: url(../img/background.png);
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 18px;
}

h4, h5 {
	font-size: 12px;
}

a:link, a:visited {
	color: white;
}

img {	
	max-width: 100%;
}

.btn-primary {
	background-color: #0091d5;
}

/* Navbar */

.navbar-inverse {
	font-size: 15px;
	font-weight: 400;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-brand {
	width: 80%;
}

.navbar-brand img {
	max-width: 100%;
	margin-top: -8px;
}

/* Alkuosan tekstit */

#alkuosa {
	text-align: center;
	margin-bottom: 20px;
}

#alkuosa h1, h3 {
	color: gainsboro;
}

#alkuosa {
	background-color: black;
	color: white;
	padding-bottom: 20px;
}

/* Paivan parhaat */

#ylaosa {
	padding-bottom: 20px;
}

#ylaosa .col-md-8 {
	border: 1px solid;
	padding-bottom: 10px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #999;
	margin-bottom: 20px;
}

#ylaosa h2 {
	padding: 0 0 10px;
	border-bottom: solid 1px #ddd;
}

/* Widget */

.widget {
	text-align: center;
	background: white;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.widget h1 {
	font-size: 20px;
	font-weight: 700;
}

.widget p {
	padding: 5px;
	margin: 0;
	font-weight: 400;
}

.widget h4 {
	padding: 0 0 10px;
	border-bottom: solid 1px #ddd;
}

.widget h5 {
	padding: 10px 0 0;
	border-top: solid 1px #ddd;
}

.search-form {
	padding: 20px 0 20px 0;
}

#sidebar-search {
	padding: 15px;
}

input[type="text"] {
	color: gray;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	position: relative;
	border: 1px dotted;
	text-align: center;
	width: 90%;
}

.post-details {
	font-size: 12px;
	padding-bottom: 5px;
	color: gray;
}

/* Footer */

#footer {
	background-color: gainsboro;
	padding-top: 10px;
}

#footer a:link, a:visited {
	color: black;
}

#footer a:hover {
	text-decoration: none;
	color: #0027ff;
}

/* Tarjoukset */

.tarjous-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tarjous {
	text-align: center;
	width: 24%;
	margin-bottom: 20px;
	float: left;
}

.tarjous:nth-child(4n) {
	margin-right: 0;
}

/* Info sivu */

.info {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.info h1, h2 {
	text-align: center;
}

.info h3 {
	font-size: 20px;
	font-weight: 700;
	text-shadow: none;
}

/* MEDIA QUERIES */

@media screen and (max-width : 991px) {

	h1 {
		font-size: 20px;
	}

	h3 {
		font-size: 15px;
	}

	.tarjous {
		width: 100%;
	}

	#alkuosa {
		margin-bottom: 0;
	}

	#ylaosa {
		padding-bottom: 5px;
	}
}

@media screen and (max-width : 768px) {

	.navbar-brand {
		width: 40%;
	}

	#alkuosa {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#alkuosa h1, h3 {
		margin: 5px;
	}
}

@media screen and (max-width : 406px) {

	.navbar-brand img {
		margin-top: 0;
	}

	.navbar-brand {
		width: 60%;
	}
}
